<!DOCTYPE html>
{% load staticfiles i18n %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Blog</title>

  <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Medium style Editor-->
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">

  <!-- Custom Css -->
  <link rel="stylesheet" href="{% static 'css/blog.css' %}">

  <!-- google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Russo+One" rel="stylesheet">


</head>
<body>

  <!-- Navbar -->
  <nav class="navbar navbar-default techfont custom-navbar">
    <div class="container">
      <ul class="nav navbar-nav">
        <li><a class="navbar-brand bigbrand" href="{% url 'blog:post_list' %}">My blog</a></li>
        <li><a class="" href="{% url 'blog:about' %}">About</a></li>
        <li><a class="" href="http://www.github.com">Github</a></li>
        <li><a class="" href="http://www.linkedin.com">Linkedin</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
          <li>
            <a href="{% url 'blog:post_new' %}">New Post</a>
          </li>
          <li>
            <a href="{% url 'blog:post_draft_list' %}">Drafts</a>
          </li>
          <li>
            <a href="{% url 'logout' %}">Logout</a>
          </li>
          <li>
            <a>Welcome: {{ user.username }}</a>
          </li>
        {% else %}
          <li>
            <a clas="nav navbar-right" href="{% url 'login' %}"><span class="glyphicon glyphicon-user"></span></a>
          </li>

        {% endif %}

      </ul>
    </div>

  </nav>

  <!--Content block -->

  <div class="content container">
    <div class="row">
      <div class="col-md-8">
        <div class="blog_posts">
            {% block content %}
            {% endblock %}
        </div>
      </div>
    </div>

  </div>


</body>
</html>