{% extends "blog/base.html" %}

{% block content %}
  <h1>New Comment</h1>

  <form class="post-form" method="POST">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="save btn btn-default" >Comment save!</button>
  </form>

  <script>
    var editor = new MediumEditor('.editable');
  </script>

{% endblock %}