{% extends "blog/base.html" %}

{% block content %}
  <div class="centerstage">
  {% for post in post_draft_list %}
    <div class="post">
      <h1><a href="{% url "blog:post_detail" pk=post.pk %}">{{ post.title }}</a></h1>
      <div class="date">
        <p>Created on: {{ post.create_date|date:"d-m-Y" }}</p>
      </div>
      <p>{{ post.text|truncatechars:200 }}</p>
    <a href="{% url "blog:post_detail" pk=post.pk %}"> Comments: {{ post.approve_comments.count }}</a>

    </div>
  {% endfor %}

  </div>
{% endblock %}